#body {
    width: 600px;
    margin: 0 auto;
    background-color: #000000;
    padding: 0 10px 20px 30px;
    border: 5px solid rgb(251, 251, 251);
  }


  .topnav {
    background-color: #fff9f9;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #c0b6b6;
    color: black;
  }

  .topnav a:active {
    background-color: #314fa3;
    color: white;
  }

  html {
    background-color: #000407;
  }

h1{
    color:azure
}
h2{
    color:azure
}
h3{
    color:azure
}

.links {
    color: #fff9f9;
}
